
  * {
    margin: 0;
    padding: 1%;
    box-sizing: border-box;
  }
  box-sizing: border-box;

  body {
    background-color: rgb(14, 0, 9);
    height: fit-content;
  }
  
  main {
    width: 65%;
    margin: auto;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
  }
  .bottom-content {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-content: center;
    color: hsla(0, 0%, 100%, 0.75);
  }
  .bottom1, .bottom2, .bottom3 {
    float: center;
    width: 40%;
    color: white;
    padding: 5em;
    height: 85%;
    text-align: center;
    
 }
  .h2 {
    font-optical-sizing: auto;
    font-family: "Big Shoulders Display script=latin rev=1";
    font-weight: 700;
    font-weight: bolder;
  }
  
  .p {
    font-optical-sizing: auto;
    font-family: "Lexend Deca script=latin rev=1";
    font-weight: 300;
  
  }
  .bottom-content .bottom1 {
    background-color: hsl(31, 77%, 52%);
    
  }
  
  .bottom-content .bottom2 {
    background-color: hsl(184, 100%, 22%);
    
  }
  
  .bottom-content .bottom3 {
    background-color: hsl(179, 100%, 13%);
   
  }
  
  button {
    padding: 12px 30px;
    border-radius: 50px;
    font-family: inherit;
    font-size: 16;
    border: solid 2px color: rgb(145, 145, 145);;
    background: color: rgb(145, 145, 145);;
    transition: all ease 0.3s;
  }
  .bottom1 button {
    color:hsl(31, 77%, 52%);
  }
  
  .bottom2 button {
    color:hsl(184, 100%, 22%);
  }
  
  .bottom3 button {
    color:hsl(179, 100%, 13%);
  }
  
  button:hover {
    background: transparent;
    color: color: rgb(145, 145, 145);;
  }
  
  
